<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h3>Sign Up To Reeya As A WHOLESALER OR RESELLER</h3>
        <button type="submit"><a href="/signupwholesaler">Sign Up As Wholesaler</a></button>
        <button type="submit"><a href="/signupreseller">Sign Up As Reseller</a></button>
        
        <script src="" async defer></script>
    </body>
</html>